.block-4{
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-block-4, .right-block-4{
    width: calc(50% - 50px);
}

.left-block-4 h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 100px;
}

.line-block-4{
    width: 100px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    margin-top: 20px;
}

.left-block-4 p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #7D7987;
    margin-top: 20px;
}

.left-block-4 button{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    border: 1px solid #458FF6;
    background-color: transparent;
    padding: 0 60px;
    border-radius: 55px;
    transition: .4s;
    cursor: pointer;
}

.left-block-4 button:hover{
    background-color: #458FF6;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: .4s;
}


.left-block-4 button:hover .arrows-1-block-4{
    display: none;
    transition: .4s;
}

.icon-block-4{
    width: 10%;
    position: absolute;
    right: -12%;
    top: -200px;
}

@media(max-width: 1415px){
    .block-4{
        margin-top: 5%;
        flex-wrap: wrap;
    }

    .left-block-4, .right-block-4{
        width: 100%;
    }

    .left-block-4 p>br{
        display: none;
    }

    .left-block-4 p{
        padding: 0;
    }

    .left-block-4 h2{
        margin-top: 2%;
    }
}

@media(max-width: 730px){
    .left-block-4 button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .right-block-4 img{
        width: 100%;
    }

    .icon-block-4{
        display: none;
    }
}

@media(max-width: 425px){
    .left-block-4 h2{
        font-size: 28px;
        line-height: 36px;
    }

    .left-block-4 p{
        font-size: 16px;
        line-height: 24px;
    }

    .left-block-4 button{
        padding: 0 15%;
        margin-bottom: 10px;
    }
}

